.list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.item {
  margin-right: 15px;
  text-align: center;
}

.img {
  width: 100px;
  height: auto;
}

.title {
  color: purple;
  margin: 0;
  font-size: 14px;
}

.subTitle {
  color: purple;
  font-size: 12px;
  margin: 0 0 15px 0;
}

.text {
  font-size: 12px;
  margin: 0;
}
